/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}

#achievements,
#projects {
    display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

#achievements ul,
#projects ul {
    text-align: left;
    padding: 20px;
    margin: 0;
    list-style-position: inside;
	max-width: 75px;
}
