/* Default Light Theme */
body {
	/*font-family: Arial, sans-serif;*/
	font-family: monospace;
	background-color: #f5f1e1;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5%;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}

body.dark #theme-toggle src:first-child{
	display: none;
}

#achievements,
#projects {
    /*display: flex;*/
	justify-content: center;
	margin-bottom: 30px;
}

#achievements ul,
#projects ul {
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    list-style-position: inside;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.5;
}

#tasks {
	justify-content: center;
	margin-bottom: 30px;
}

#tasks ul{
	text-align: left;
    padding: 20px;
    margin: 0 auto;
    list-style-position: inside;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }
  .feature-card {
    margin: 10px 0;
  }
}
